body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1;
  }
  
  textarea{
    background: transparent;
    border: none;
    resize: none;
    color: #000000;
    border-left: 1px solid black;
    padding: 10px;
  }
  
  .jumbotron {
    text-align: center;
    background-color: transparent;
    color: black;
    border-radius: 0;
    border-bottom: 10px solid black;
    background:url(../images/helloKitty-background3.jpeg);
    background-size: cover;
    background-position: bottom;
  }
  
  .time-block{
    text-align: center;
    border-radius: 15px;
  }
  
  .row {
    white-space: pre-wrap;
    height: 80px;
    border-top: 1px solid white;;

  }
  
  .hour {
    background-color: #ffffff;
    color: #000000;
    border-top: 1px dashed #000000;
  }
  
  .past {
    background-color: #d3d3d3;
    color: white;
  }
  
  .present {
    background-color: #ff6961;
    color: white;
  }
  
  .future {
    background-color: #77dd77;
    color: white;
  }
  
  .saveBtn {
    border-left: 1px solid black;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    /* background-color: #06AED5; */
    /* color: white; */
    padding: 0;
    margin: 0;
    width: 140%;
    max-width: 60px;
    height: 60%;
    max-height: 60px;
    /* text-align: center; */
    /* position: relative; */
    border: 3px solid #555;
    border-radius: 5px;
    transition-duration: .60s;
    background:url("../images/helloKitty-icon0.png");
    background-size: cover;
  }
  
  .dayPlan {
    padding-bottom: 20px;
    border: 3px solid black;
    border-radius: 5px;
    white-space: pre-wrap;
  }
  
  .saveBtn i:hover {
    font-size: 20px;
    transition: all .3s ease-in-out;
  }

  /* make save buttons float when hover */
  /* #hour0800, #hour0900, #hour1000, 
  #hour1100, #hour1200, #hour1300, 
  #hour1400, #hour1500, #hour1600, 
  #hour1700, #hour1800, #hour1900, 
  #hour2000:hover {
    
  } */